<div class='container'>
  <div class='row'>
    <div class="col-md-8 px-0 mx-auto mt-4">
      <h3 class="mb-0">ジャンル編集</h3>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="col-md-8 bg-white mt-4 mx-auto rounded-lg">
      <%= form_with model: @genre, url: genre_path(@genre.id), method: :patch do |f| %>

        <div class="form-group">
          <%= f.label :"ジャンル名", class: "m-3" %>
          <%= f.text_field :name, include_blank: "ジャンル名は必須です。", class: "form-control m-3", required: true %>
        </div>

        <div class="form-group">
          <%= f.submit "変更を保存", class: "btn btn-success m-3" %>
          <%= link_to "削除", genre_path(@genre), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger m-3" %>
        </div>

      <% end %>
    </div>
  </div>
</div>