<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="p-4 border rounded">
        <h4 class="mb-4 d-flex justify-content-between align-items-center">ユーザー情報
          <% if @user.id == current_user.id %>
            <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-success" %>
          <% end %>
        </h4>

        <table class="table">
          <tbody>
            <tr>
              <th style="width: 150px;">氏名</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th style="width: 150px;">メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th style="width: 150px;">レビュー数</th>
              <td><%= @user.reviews.count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h4>レビュー履歴</h4>
    <%= render 'reviews/review_index', reviews: @reviews %>
  </div>
</div>

