<% @items.first(10).each do |item| %>
  <div class="list-group">

    <%= link_to item.rakuten_url do %>
      <% images = JSON.parse(item.image_url) %>
      <%= image_tag images.first %>
    <% end %>
  
    <!--<%= link_to item.rakuten_url do %>-->
    <!--  <% images = JSON.parse(item.image_url) %>-->
    <!--  <% images.each do |image| %>-->
    <!--    <%= image_tag image %>-->
    <!--  <% end %>-->
    <!--<% end %>-->
  
    <%= link_to item.name, item.rakuten_url %>
    <%= number_with_delimiter(item.price) %>円
  </div>
<% end %>

