<div class="container mt-4">
  <div class="row">
    <div class="col">
      <!--<p>-->
      <!--  |<%= link_to '値段が高い順', search_items_path(price_desc: "true") %>-->
      <!--  |<%= link_to '値段が安い順', search_items_path(price_asc: "true") %>-->
      <!--  |<%= link_to 'いいねの多い順', search_items_path(favorite_items_count: "true") %>-->
      <!--</p>-->
      <table class="table">
        <thead>
          <th class="">商品画像</th>
          <th class="">製品名</th>
          <th class="">値段</th>
          <th class="col-2">いいね数</th>
        </thead>
        <% @items.first(10).each do |item| %>
        <tbody>
          <td>
            <% if item.image_url.present? %>
              <%= link_to item_path(item) do %>
                <% images = JSON.parse(item.image_url) %>
                <% if images.present? && images.first.present? %>
                  <%= image_tag images.first %>
                <% else %>
                  <!-- 画像が存在しない場合の処理 -->
                  <%= image_tag "no_image.jpg" %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_with_delimiter(item.price) %>円</td>
          <td style="text-align: center;">♡<%= item.favorite_items.count %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

