<div class="container mt-4">
  <div class="col-12 my-4">
    <%= render 'items/modal' %>
  </div>

  <div class="row justify-content-center">
    <%= form_with url: search_items_path, method: :get, local: true do |f| %>

      <div class="col-12 mb-4">
        <strong>キーワードを入力</strong>
        <%= f.text_field :keyword, placeholder: "入力欄", value: params[:keyword], class: "form-control mx-auto mt-2" %>
      </div>

      <div class="col-12 mb-4">
        <strong>キーワード一覧</strong>

        <div style="margin-top: 5px;">
          <button type="button" id="toggleKeywords" style="padding: 5px; color: #000; border: 1px solid #000; cursor: pointer; border-radius: 5px; font-size: 14px; width: 100%">キーワード表示切り替え</button>
        </div>

        <table class="table mt-2">
          <tbody>
            <% Tag.all.each do |tag| %>
              <tr hidden>
                <td>
                  <%= check_box_tag "tag_ids[]", tag.id, params[:tag_ids].present? ? params[:tag_ids].include?(tag.id.to_s) : false, id: "tag_#{tag.id}" %>
                </td>
                <td>
                  <%= label_tag "tag_#{tag.id}", tag.name %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-12">
        <strong>ジャンル一覧</strong>

        <table class="table mt-2">
          <tbody>
            <% Genre.all.each do |genre| %>
              <tr>
                <td>
                 <%= radio_button_tag "genre_ids[]", genre.id, params[:genre_ids].present? ? params[:genre_ids].include?(genre.id.to_s) : false, id: "genre_#{genre.id}" %>
                </td>
                <td>
                  <%= label_tag "genre_#{genre.id}", genre.name %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <button type="button" onclick="formSubmit()" class="btn btn-primary" style="width: 100%;">Search</button>
      <% end %>
    </div>
  </div>
</div>

<script>
  function formSubmit() {
    document.querySelector('form').submit();
  }

  document.addEventListener('turbolinks:load', function() {
    console.log('Turbolinks loaded!');

    var toggleKeywordsButton = document.getElementById('toggleKeywords');
    var keywordsTable = document.querySelector('.table');
  
    if (toggleKeywordsButton && keywordsTable) {
      toggleKeywordsButton.addEventListener('click', function(event) {
        event.preventDefault();
  
        var rows = keywordsTable.querySelectorAll('tbody tr');
        rows.forEach(function(row) {
          row.hidden = !row.hidden;
        });
      });
    }
  });

</script>


