<div id="show_star-<%= review.id %>"></div>
<script>
    var elem = document.querySelector('#show_star-<%= review.id %>');
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        half: true, 
        score: <%= review.star %>
    };
    raty(elem,opt);
</script>